    .companymain {
        padding: 20px;
    }
    
    .headingcompany {
        display: flex;
    }
    
    .arrow {
        color: aliceblue;
        padding-right: 10px;
    }
    
    .heading {
        color: aliceblue;
        margin-top: -8px;
        font-size: x-large;
    }
    
    .bodysub {
        color: white;
        display: flex;
    }
    
    .bodysub p {
        text-align: left;
    }
    
    .calendar {
        margin-left: auto;
        margin-top: 20px;
    }
    
    .layoutcompany {
        display: flex;
        width: 100%;
        margin-top: 10px;
    }
    
    .bodycompany {
        width: 45%;
        padding: 10px;
        background-color: #141414;
        border-radius: 15px;
        margin-right: 10px;
    }
    
    .bodycompany2 {
        width: 45%;
        padding: 10px;
        background-color: #141414;
        border-radius: 15px;
    }
    
    .bodysubp {
        color: aqua;
        font-size: x-large;
    }
    
    .bodysubsecond {
        display: flex;
        margin-top: -30px;
    }
    
    .bodysubp2 {
        color: white;
        padding-left: 1px;
        margin-top: 35px;
        font-size: small;
    }
    
    .noofbills {
        color: #FF005A;
        font-size: x-large;
    }
    
    .device {
        color: #FF005A;
        font-size: x-large;
        margin-top: -7px;
    }
    
    .bodysubp3 {
        color: aqua;
        font-size: large;
    }
    
    .bodysubp21 {
        color: white;
        padding-left: 1px;
        margin-top: 22px;
        font-size: small;
    }
    
    .bodysubp21bill {
        color: white;
        margin-top: -10px;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }
    
    th,
    td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    tbody tr:last-child,
    thead tr,
    tbody tr:first-child {
        background-color: white;
        color: black;
    }
    
    tbody tr:not(:last-child) {
        background-color: black;
        color: white;
    }
    
    tbody tr:nth-child(even) {
        background-color: black;
    }
    
    .table1 {
        position: relative;
        max-height: 200px;
        overflow-y: auto;
    }
    
    .servicewise {
        padding: 10px;
        width: 90%;
        background-color: #141414;
        margin-top: 20px;
        border-radius: 15px;
    }
    
    .servicewise h2 {
        color: white;
    }
    
    .servicewisesub {
        display: flex;
        margin-top: -15px;
        width: 100%;
    }
    
    .servicewisesub p {
        color: white;
    }
    
    .filterbox {
        width: 96%;
        height: 30px;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: -20px;
        align-items: end;
        justify-content: end;
        border-radius: 10px;
        border: 2px solid white;
        background-color: black;
        color: white;
    }
    
    .suggestions {
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        border-top: none;
        width: calc(95% - 10px);
        max-height: 200px;
        overflow-y: auto;
        list-style: none;
        padding: 0;
        margin: 0;
        border-radius: 10px;
        z-index: 2;
        margin-top: 10px;
    }
    
    .suggestions li {
        padding: 8px 10px;
        cursor: pointer;
    }
    
    .table-scroll {
        max-height: 300px;
        overflow-y: auto;
        margin-top: 20px;
    }
    
    .table-scroll table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .table-scroll th,
    .table-scroll td {
        padding: 8px;
        text-align: left;
        border: 1px solid black;
    }
    
    .table-scroll th {
        position: sticky;
        left: 0;
        background-color: #f2f2f2;
        z-index: 1;
        top: 0;
    }
    
    .close {
        color: white;
        height: 25px;
        width: 25px;
        margin-left: -40px;
        padding-top: 20px;
        margin-top: 10px;
        margin-bottom: -10px;
    }