@media (max-width:1000px) {
    .maindiv {
        padding: 20px 20px;
        caret-color: transparent;
        outline: none;
        background-color: black;
        height: 90vh;
    }
    .seconddiv {
        background-color: rgb(47, 47, 47);
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-radius: 10px;
        margin-top: 46%;
    }
    img {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        caret-color: transparent;
        outline: none;
        margin-bottom: 30px;
    }
    .sign {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        caret-color: transparent;
        outline: none;
    }
    .content {
        color: #828282;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        width: 100%;
        padding: 10px 0px;
        caret-color: transparent;
        outline: none;
    }
    label {
        color: white;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 600;
        padding-bottom: 20px;
        font-style: 'poppins';
        margin-top: 10px;
    }
    .input {
        font-size: 14px;
        background-color: #ffffff;
        align-items: center;
        padding: 15px 0px;
        padding-left: 15px;
        color: #000000;
        border-radius: 5px;
        border: 1px solid #000000;
        width: 95%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .second {
        display: flex;
        width: 100%;
        caret-color: transparent;
        outline: none;
    }
    .remember {
        text-align: left;
        font-weight: 500;
        font-size: 11px;
        color: #828282;
        caret-color: transparent;
        outline: none;
    }
    .forgot {
        font-weight: 500;
        font-size: 11px;
        color: #828282;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        text-decoration: underline;
        caret-color: transparent;
        outline: none;
        margin-top: 10px;
    }
    .check {
        background-color: #646363;
        border-radius: 5px;
        border: none;
        caret-color: transparent;
        outline: none;
    }
    .button5 {
        width: 100%;
        padding: 10px;
        border: none;
        margin-top: 10px;
        background-color: #141414;
        color: white;
        font-weight: 600;
        border-radius: 8px;
        caret-color: transparent;
        outline: none;
        margin-top: 15px;
        cursor: pointer;
    }
    .password-input-container {
        position: relative;
        width: 100%;
    }
    .input1 {
        font-size: 14px;
        background-color: #807777;
        align-items: center;
        padding: 15px 0px;
        padding-left: 15px;
        color: #000000;
        border-radius: 5px;
        border: 1px solid #000000;
        width: 95%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .eye-icon {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.validate {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.maindiv {
    padding: 20px 20px;
    height: auto;
    background-color: black;
    overflow-x: hidden;
}

img {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: auto;
    display: block;
    caret-color: transparent;
    outline: none;
}

.sign {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    caret-color: transparent;
    outline: none;
}

.content {
    color: #828282;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    caret-color: transparent;
    outline: none;
}

label {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    padding-bottom: 20px;
    font-style: 'poppins';
    margin-top: 10px;
}

.input {
    font-size: 14px;
    align-items: center;
    padding: 15px 0px;
    padding-left: 15px;
    border-radius: 5px;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(64, 64, 64);
    color: rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.08) 0px 0px 11px 0px;
}

.second {
    display: flex;
    width: 100%;
    caret-color: transparent;
    outline: none;
}

.remember {
    text-align: left;
    font-weight: 500;
    font-size: 11px;
    color: #828282;
    caret-color: transparent;
    outline: none;
}

.forgot {
    font-weight: 500;
    font-size: 11px;
    color: #828282;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    text-decoration: underline;
    caret-color: transparent;
    outline: none;
    margin-top: 10px;
}

.check {
    background-color: #646363;
    border-radius: 5px;
    border: none;
    caret-color: transparent;
    outline: none;
}

.button5 {
    width: 100%;
    padding: 15px 5px;
    border: none;
    margin-top: 10px;
    background-color: #000000;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    caret-color: transparent;
    outline: none;
    margin-top: 15px;
}


/* .password-input-container {
    position: relative;
    width: fit-content;
    Adjust width as needed
} */

.input1 {
    padding-right: 30px;
    font-size: 14px;
    align-items: center;
    padding: 15px 0px;
    padding-left: 15px;
    border-radius: 5px;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(64, 64, 64);
    color: rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.08) 0px 0px 11px 0px;
}

.eye-icon {
    position: absolute;
    color: white;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}